
        <!--START PRODUCT LIST (ADD new products by copying the .line-item block)--->
        <tr class="line-item">
            <td class="line-item product-thumb-column" style="width: 80px;">
                <img src={0} class="product-thumb" height="80" width="80" src="#" style="width: 80px;height: 80px;">
                <div class="row-spacer" style="height: 8px;"></div>
            </td>
            <td class="line-item product-info-column" style="width: 200px;">
                <div class="title" style="margin-bottom: 5px;">
                    {1}
                </div>
                <div class="sub" style="font-size: 13px;margin-bottom: 3px;">
                    {2}
                </div>
                <div class="sub" style="font-size: 13px;margin-bottom: 3px;">
                    Qty: {3}
                </div>
            </td>
            <td class="line-item product-price-column" style="width: 100px;text-align: right;vertical-align: top;">
                <div class="sub price" style="font-size: 13px;margin-bottom: 3px;margin-top: 18px;">
                    {4} X {5:0.00}
                </div>
                <div class="ships-by-message" style="font-size: 13px;padding-top: 4px;">
                    <strong style="font-weight: 400;">
                        {6}
                    </strong>
                </div>
                <div class="ships-by-message" style="font-size: 13px;padding-top: 4px;">
                    <strong style="font-weight: 400;">
                        ${7}
                    </strong>
                </div>
            </td>
        </tr>
        <!--END PRODUCT LIST--->

        <tr>
            <td class="em-spacer-0" style="height: 20px;"></td>
        </tr>
        <tr>
            <td class="divider" colspan="3" style="border-bottom: 2px solid #eee;"></td>
        </tr>
        <tr>
