<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PartsSage100PassThruEntities" connectionString="metadata=res://*/MASLiveStock.csdl|res://*/MASLiveStock.ssdl|res://*/MASLiveStock.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MSPAACCTSVR4\SAGE100;initial catalog=PartsSage100PassThru;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>